html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	color: #000;
	font-family: "Comfortaa", cursive;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

button {
	border: none;
	padding: 0;
	border-radius: 0;
	cursor: pointer;
}

.container {
	max-width: 1180px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}

.menu__btn {
	display: none;
	width: 30px;
	height: 25px;
	background-color: transparent;
	flex-direction: column;
	justify-content: space-between;
}

.menu__btn span {
	height: 1px;
	width: 100%;
	background-color: #7b6152;
}

.header {
	background-color: #fff8f3;
}
.header__inner {
	padding-top: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu__list {
	display: flex;
	gap: 20px;
}
.menu__list-link {
	text-transform: uppercase;
}
.phone {
	position: relative;
}
.phone::before {
	content: "";
	position: absolute;
	background-image: url(../images/phone.svg);
	width: 20px;
	height: 20px;
	left: -23px;
	top: -3px;
}

.main {
	background-color: #fff8f3;
	overflow-x: clip;
}

.title {
	font-family: "Yeseva One", cursive;
	font-size: 40px;
	font-weight: 400;
	margin-bottom: 15px;
}

.button {
	font-family: "Comfortaa", cursive;
	font-size: 14px;
	font-weight: 600;
	padding: 18px 54px;
	background-color: #ffbd59;
	align-self: center;
}

.section--decor {
	position: relative;
}
.section--decor::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url(../images/section-decor.png);
	width: 22px;
	height: 30px;
}
.section--decor::after {
	content: "";
	position: absolute;
	left: 22px;
	bottom: 13px;
	background-color: #7b6152;
	width: 1000%;
	height: 1px;
}

.hero {
	padding: 40px 0 150px;
}
.hero__inner {
	position: relative;
}
.hero__content {
	width: 370px;
	padding: 150px 0 250px;
}
.hero__title {
	font-family: "Yeseva One", cursive;
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 15px;
}
.hero__text {
	margin-bottom: 48px;
}
.hero__buy {
	font-family: "Comfortaa", cursive;
	font-size: 14px;
	font-weight: 600;
	padding: 18px 54px;
	background-color: #ffbd59;
}
.hero__img {
	position: absolute;
	top: 0;
	left: 240px;
}

.about {
	background-color: #a5978e;
	padding: 50px 0;
	color: #fafafa;
	margin-bottom: 150px;
}
.about__inner {
	display: flex;
	align-items: center;
}
.about__content {
	min-width: 370px;
}
.about__text {
	margin-bottom: 15px;
}
.about__list {
	position: relative;
	display: flex;
	padding-left: 110px;
	padding-bottom: 48px;
	align-items: center;
	gap: 0 20px;
	flex-basis: 930px;
}
.about__item-img {
	margin-bottom: 10px;
}
.about__item-text {
	font-size: 11px;
}

.section {
	padding-bottom: 150px;
}
.section__inner {
	display: grid;
	grid-template-columns: 370px auto;
	gap: 20px;
}
.section__content-descr {
	display: grid;
	grid-template-columns: auto auto;
	padding-bottom: 92px;
}
.products__content,
.courses__content {
	gap: 50px 90px;
}
.products__item,
.courses__item {
	width: 290px;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.products__item-img,
.courses__item-img {
	margin-bottom: 8px;
}
.products__item-price {
	margin-bottom: 12px;
	font-size: 16px;
	font-family: "Yeseva One", cursive;
	font-weight: 400;
}
.products__item-title,
.courses__item-title {
	margin-bottom: 16px;
	font-size: 16px;
	font-family: "Yeseva One", cursive;
	font-weight: 400;
}
.products__item-text,
.courses__item-text {
	margin-bottom: 27px;
	font-size: 12px;
}

.creating__content {
	gap: 70px 25px;
}
.creating__explanation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.creating__item {
	display: flex;
	gap: 40px;
}
.creating__text {
	font-size: 14px;
	width: 174px;
}
.creating__num {
	font-family: "Yeseva One", cursive;
	font-size: 30px;
	font-weight: 400;
	color: #bea495;
}
.creating__num--right {
	margin-left: auto;
}
.courses__item .button {
	padding: 13px 16px;
}

.courses__item-box {
	position: relative;
	color: #ffffff;
	font-family: "Yeseva One", cursive;
}
.courses__name,
.courses__time,
.courses__price {
	background-color: #bea495;
	position: absolute;
}
.courses__name {
	padding: 15px;
	left: 10px;
	top: 45%;
}
.courses__time {
	padding: 7px 10px;
	left: 10px;
	top: 60%;
}
.courses__time span {
	font-family: "Comfortaa", cursive;
	font-size: 10px;
}
.courses__price {
	padding: 19px 10px;
	right: 0;
	bottom: 2px;
}

.mentors {
	background-color: #a5978e;
	padding: 80px 0 60px;
	color: #ffffff;
	margin-bottom: 150px;
}
.mentors__content {
	padding-bottom: 0;
	gap: 75px;
}
.mentors__item {
	position: relative;
}
.mentors__img {
	width: 220px;
	height: 220px;
}
.mentors__box {
	background-color: #7b6152;
	text-align: center;
	position: absolute;
	bottom: 13px;
	right: 33px;
	padding: 10px 14px;
	width: 165px;
	z-index: 4;
}
.mentors__name {
	font-size: 12px;
	font-family: "Yeseva One", cursive;
}
.mentors__box-text {
	font-size: 10px;
}

.reviews__content {
	padding-bottom: 110px;
}
.reviews__descr {
	margin-right: 20px;
}
.reviews__item {
	display: grid;
	grid-template-columns: auto auto;
	gap: 0 16px;
	align-items: center;
}
.reviews__item-video {
	position: relative;
}
.reviews__video-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
}
.reviews__item-social {
	margin-bottom: 12px;
}
.reviews__item-name {
	margin-bottom: 15px;
	font-size: 16px;
	font-family: "Yeseva One", cursive;
}
.reviews__item-text {
	margin-bottom: 15px;
}
.reviews__item-content {
	padding-bottom: 70px;
}
.reviews__btn {
	position: absolute;
	bottom: 10px;
	right: 0;
}
.reviews__slider {
	width: 760px;
	overflow: hidden;
}
.reviews__content .swiper-pagination {
	bottom: 50px;
}
.swiper-pagination-bullet {
	background-color: #bea495;
	width: 53px;
	height: 4px;
	border-radius: 0;
	opacity: 1;
}
.swiper-pagination-bullet-active {
	background-color: #7b6152;
}

.footer {
	padding-top: 40px;
	padding-bottom: 35px;
}
.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__contacts {
	display: flex;
	flex-direction: column;
	width: 230px;
}
.email {
	margin: 17px 0;
}
.footer__social {
	display: flex;
	gap: 15px;
}

@media (max-width: 1160px) {
	.section__inner {
		grid-template-columns: 300px auto;
	}
	.creating__content {
		gap: 35px;
	}
	.creating__item {
		gap: 31px;
	}
	.creating__text {
		width: 141px;
		font-size: 8px;
	}
	.creating__item img {
		width: 129px;
		object-fit: cover;
	}
}

@media (max-width: 1000px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.section__inner {
		grid-template-columns: 220px auto;
	}
	.section__text {
		font-size: 10px;
	}
	.hero__content {
		width: 333px;
		padding: 95px 0 70px;
	}
	.hero__img-l {
		width: 655px;
	}
	.hero__img {
		left: 300px;
	}
	.hero__text {
		margin-bottom: 30pxs;
	}
	.about__content {
		min-width: 300px;
	}
	.about__list {
		padding-left: 20px;
	}
	.products__content {
		gap: 67px;
	}
	.courses__content {
		gap: 35px;
	}
	.courses__name,
	.courses__time,
	.courses__price {
		font-size: 11px;
	}
	.mentors {
		padding: 50px 0;
	}
	.mentors__content {
		gap: 30px 20px;
	}
}

@media (max-width: 900px) {
	.title {
		font-size: 15px;
	}
	.section__inner {
		grid-template-columns: 200px auto;
	}
	.footer__inner {
		flex-wrap: wrap;
	}
	.footer__contacts {
		width: 100%;
		text-align: center;
		padding-top: 15px;
	}
	.footer__social {
		justify-content: center;
	}
	.products__content,
	.courses__content {
		gap: 30px 16px;
	}
	.products__item,
	.courses__item {
		width: 200px;
	}
	.products__item-img,
	.courses__item-img {
		width: 200px;
		margin-bottom: 6px;
	}
	.products__item-text,
	.courses__item-text {
		font-size: 8px;
	}
	.button {
		font-size: 12px;
		padding: 10px 26px;
	}
	.products__item-price {
		font-size: 12px;
		margin-bottom: 7px;
	}
	.products__item-title,
	.courses__item-title {
		font-size: 12px;
		margin-bottom: 9px;
	}
	.creating__item img {
		width: 85px;
	}
	.creating__item {
		gap: 20px;
		width: 200px;
	}
	.creating__text {
		width: 94px;
	}
	.courses__name {
		padding: 10px;
		left: -1px;
	}
	.courses__time {
		padding: 5px 7px;
		left: -1px;
	}
	.courses__price {
		padding: 12px 7px;
		right: -8px;
	}
}

@media (max-width: 768px) {
	body {
		font-size: 10px;
	}
	.container {
		max-width: 640px;
	}
	.phone::before {
		width: 14px;
		height: 14px;
		left: -16px;
		top: -2px;
		background-size: cover;
	}
	.hero__content {
		width: 230px;
	}
	.hero__title {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.hero__text {
		margin-bottom: 20px;
	}
	.hero__img {
		left: 180px;
	}
	.about__content {
		min-width: 200px;
	}
	.title {
		font-size: 15px;
	}
	.about__title {
		margin-bottom: 20px;
	}
	.about__list {
		margin-left: 27px;
		margin-bottom: 33px;
		gap: 0 10px;
	}
	.about__item-text {
		font-style: 6px;
	}
	.about__item-img {
		margin-bottom: 6px;
	}
	.about__item-img--1,
	.about__item-img--3 {
		width: 120px;
	}
	.about__item-img--2 {
		width: 190px;
	}
	.creating__content {
		gap: 35px 25px;
	}
	.mentors__content {
		gap: 30px 40px;
	}
	.mentors__img {
		width: 142px;
		height: 148px;
	}
	.mentors__box {
		bottom: 8px;
		right: -24px;
		padding: 6px 9px 10px;
		width: 109px;
	}
	.mentors__name {
		font-size: 8px;
	}
	.mentors__box-text {
		font-size: 7px;
	}
}

@media (max-width: 640px) {
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
	.header__menu-list {
		position: absolute;
		left: 0;
		top: 0;
		width: 153px;
		background-color: #7b6152;
		color: #fff8f3;
		flex-direction: column;
		gap: 20px 0;
		padding: 25px 35px 25px 45px;
		transform: translateY(-110%);
		transition: transform 0.5s ease;
		z-index: 5;
	}
	.header__menu-list.menu--open {
		transform: translateY(0%);
	}
	.menu__btn {
		display: flex;
	}
	.header__menu {
		order: 1;
	}
	.section__inner {
		display: block;
	}
	.section__descr {
		margin-bottom: 30px;
		text-align: center;
	}
	.creating__num {
		font-size: 20px;
	}
	.mentors__box {
		right: auto;
		left: 80px;
	}
}

@media (max-width: 500px) {
	.footer {
		padding: 50px 0;
		font-size: 14px;
	}
	.footer__inner {
		flex-direction: column;
	}
	.footer__menu {
		padding: 50px 0;
		text-align: center;
	}
	.footer__menu-list {
		flex-direction: column;
	}
	.products__content,
	.courses__content {
		gap: 25px 40px;
	}
}

@media (max-width: 480px) {
	.container {
		max-width: 460px;
	}
	.section {
		padding-bottom: 50px;
	}
	.section__content-descr {
		padding-bottom: 62px;
	}
	.section__descr {
		margin: 0 auto 30px;
		width: 300px;
	}
	.hero {
		padding: 30px 0 50px;
	}
	.hero__content {
		width: 180px;
	}
	.hero__title {
		font-size: 15px;
		margin-bottom: 15px;
	}
	.hero__text {
		font-size: 8px;
		margin-bottom: 15px;
	}
	.hero__buy {
		font-size: 10px;
		padding: 14px 41px;
	}
	.hero__img-l {
		width: 308px;
		left: 167px;
	}
	.about {
		margin-bottom: 50px;
	}
	.about__content {
		min-width: 170px;
	}
	.about__list {
		margin-left: 0;
		padding-left: 10px;
		gap: 0 5px;
		align-items: flex-end;
		margin-bottom: 0;
	}
	.about__item-text {
		display: none;
	}
	.about__item-img--1,
	.about__item-img--3 {
		width: 80px;
	}
	.about__item-img--2 {
		width: 140px;
	}
	.about__inner {
		align-items: flex-end;
	}
	.products__content,
	.courses__content {
		gap: 40px 7px;
	}
	.creating__item img {
		width: 66px;
	}
	.mentors {
		margin-bottom: 50px;
	}
}

@media (max-width: 404px) {
	.products__item,
	.courses__item {
		width: 150px;
	}
	.products__item-img,
	.courses__item-img {
		width: 150px;
	}
	.creating__content {
		gap: 20px 5px;
	}
	.creating__item {
		width: 150px;
		gap: 0 16px;
	}
	.creating__text {
		width: 72px;
	}
	.courses__content {
		grid-template-columns: auto;
		gap: 41px;
	}
	.courses__item,
	.courses__item-img {
		width: 255px;
	}
	.mentors__content {
		grid-template-columns: auto;
	}
	.mentors__img {
		width: 206px;
		height: 220px;
	}
	.mentors__box {
		bottom: 15px;
		left: 148px;
		width: 150px;
	}
	.mentors__name {
		font-size: 12px;
	}
	.mentors__box-text {
		font-size: 10px;
	}
}

@media (max-width: 360px) {
	body {
		font-size: 8px;
	}
	.section__descr {
		margin: 0 auto 25px;
		width: 235px;
	}
	.hero__content {
		width: 200px;
		padding: 20px 0 0;
	}
	.hero__title {
		font-size: 18px;
	}
	.hero__text {
		font-size: 10px;
	}
	.hero__img {
		left: auto;
		right: 0;
	}
	.hero__img-l {
		width: 185px;
	}
	.about {
		padding-top: 25px;
		padding-bottom: 10px;
	}
	.about__content {
		min-width: 233px;
	}
	.title {
		margin-bottom: 10px;
	}
	.about__list {
		padding-left: 12px;
		padding-bottom: 30px;
		margin-left: 12px;
		gap: 0 15px;
	}
	.about__item-img--2 {
		display: none;
	}
	.button {
		font-size: 8px;
		padding: 8px 20px;
	}
	.products__item-price {
		font-size: 10px;
		margin-bottom: 5px;
	}
	.products__item-title,
	.courses__item-title {
		font-size: 10px;
	}
	.products__item-text,
	.courses__item-text {
		margin-bottom: 16px;
	}
	.creating__text {
		font-size: 6px;
	}
}
